
<div class="flex items-center justify-between mb-4">
  <h1 class="text-2xl font-bold">Organization Dashboard</h1>
  <%= link_to "New Mission", new_mission_path, class: "btn btn-primary", data: { action: "click->modal#open", turbo_stream: "" }  %>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4" id="mission-list">
  <% if @missions.any? %>
      <!-- First mission -->
      <%= render "missions/mission_card", mission: @missions.first %>


    <!-- Reserved slot -->
    <div class="card bg-gray-100 shadow-md flex items-center justify-center text-gray-500 font-semibold">
      <span>Reserved Spot</span>
    </div>

    <!-- Rest of missions -->
    <% @missions.drop(1).each do |mission| %>
      <%= render "missions/mission_card", mission: mission %>
    <% end %>
  <% end %>
</div>